<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 col-lg-offset-1 text-center">
                <h2 class="section-heading">Who we are</h2>
                <hr class="light">
                <h4>The name says it all: AJE – A JUG for Everyone.</h4>
                <p class="text-faded">
                    We're an inclusive community of developers from all walks of life, regardless of gender, ethnicity,
                    or background. Our goal is to make knowledge, opportunities, and professional growth accessible to
                    everyone, not just a privileged few.
                </p>
                <p class="text-faded">
                    While many of us have a background in software engineering, especially in Java, we don’t want to be
                    defined solely by it. Our events and speakers reflect a broad spectrum of topics that go beyond Java
                    or backend development. We dive into software architecture, infrastructure, best practices,
                    artificial intelligence, the human side of software development, its impact on society, and even
                    fun DIY projects like home automation. We even have speakers giving talks about frontend
                    technologies from time to time.
                </p>
                <p class="text-faded">
                    We welcome speakers and attendees from around the world. And because we know not everyone can join
                    us in person, we <a class="opaque" href="https://www.youtube.com/@{{ site.youtube_username }}">stream</a>
                    our events and regularly collaborate with <a href="#" class="opaque"> Virtual Java User Group</a>
                    to make them even more accessible.
                </p>
                <p class="text-faded">
                    A big part of what makes AJE special is the community spirit, and networking is a big part of it.
                    This allows our members to find their soulmates as when after one of our events, people started
                    sharing their home automation setups on their phones. The energy in the room was infectious!
                    That moment of connection, enthusiasm, and belonging… it was one of these magic moments when we
                    could say, “That is what AJE is all about!!!”.
                </p>
                <p class="text-faded">
                    So, if you're a technologist who enjoys learning, sharing ideas, and having a great time doing
                    it, we'd love to have you with us.
                </p>
                <a href="#" class="btn btn-default btn-xl">Code of Conduct</a>

            </div>
        </div>
    </div>
</section>
