<header>
    <div class="header-content">
        <div class="header-content-inner">

            <img src="img/logo/aje_logo_transparent_bg.png" alt="AJE - A JUG for Everyone" class="logo">

            <p>The Java User Group who strive to be more than a community exclusive to Java developers. </p>
            <a href="https://discord.gg/mvVahx4NNh" class="btn btn-primary btn-xl page-scroll" target="_blank"><i class="fa-brands fa-discord"></i> Join the conversation</a>
        </div>
    </div>
</header>
